<!doctype html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body>
 

<style>
	<%- include("../partials/style") %>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
 <%- include("../partials/toolbar") %>
</div>
<div class="content">
	<%
	let view_data = null;
	if(typeof(data)!="undefined"){
		view_data = data;
		console.log(data);
		
		let time = new Date(data.location.localtime);
		let h = time.getHours();
		let m = time.getMinutes(); 
		
		
		
		
	%>
	
	
	


		<div class="row">
			<div class="col-md-6">
				<div class="card h-100" style="width: 18rem;">
				  <div class="card-body">
					<h5 class="card-title">Current Weather</h5>
					<h6 class="card-subtitle mb-2 text-muted"><%=h%>:<%=m%></h6>
					<h1 style="margin-left:10px"><%=data.current.temperature%>ºC</h1>
					
					<img class="float-left" src="<%=data.current.weather_icons[0]%>">
					

				  </div>
				  
				  <div class="card-footer">
				  <%
					
					let desc = "";
					for(let i=0; i<data.current.weather_descriptions.length; i++){
						desc+= data.current.weather_descriptions[i];
						if(i!=data.current.weather_descriptions.length-1){
							desc+= ", ";
						}
					}
				  %>
					<p class="float-left"><%=desc%></p>
					
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card h-100" style="width: 18rem;">
				  <div class="card-body">
					
					<span class="float-left">Wind Speed</span><span class="float-right"><%=data.current.wind_speed%> km/h</span><br>
					<hr>
					
					<span class="float-left">Wind Direction</span><span class="float-right"><%=data.current.wind_dir%></span><br>

				  </div>
				  
				  <div class="card-footer">
					
					<p class="float-right">RealFeel® <%=data.current.feelslike%>°C</p>
				  </div>
				</div>
			</div>
			
		</div>
		<br>
		
		<div class="row">
			<div class="col-md-6">
				<div class="card h-100" style="width: 18rem;">
				  <div class="card-body">
					
					<span class="float-left">Pressure</span><span class="float-right"><%=data.current.pressure%></span><br>
					<hr>
					<span class="float-left">Precipitation </span><span class="float-right"><%=data.current.precip%>%</span><br>
					<hr>
					<span class="float-left">Humidity</span><span class="float-right"><%=data.current.humidity%>%</span><br>

				  </div>
				  
				  
				</div>
			</div>
			<div class="col-md-6">
				<div class="card h-100" style="width: 18rem;">
				  <div class="card-body">
					
					<span class="float-left">UV Index</span><span class="float-right"><%=data.current.uv_index%></span><br>
					<hr>
					<span class="float-left">Visibility </span><span class="float-right"><%=data.current.visibility%></span><br>
					<hr>
					<span class="float-left">Coordinates</span><span class="float-right"><%=data.location.lat%>, <%=data.location.lon%></span><br>

				  </div>
				  
				  
				</div>
			</div>
			
		</div>
	
<%} else{%>
	<img src="https://assets.prestashop2.com/sites/default/files/blog/pt/files/2013/12/http_code_404_error.jpg">

<%}%>
</div>




  <%- include("../partials/scripts") %>
  <script src="/public/js/details_actions.js"></script>
</body>
</html>
