<!doctype html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body>
 

<style>
	<%- include("../partials/style") %>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
 <%- include("../partials/toolbar") %>
</div>

<div class="content" style="background-color: #fff" role="main">
	
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="name-tab" data-toggle="tab" href="#name" role="tab" aria-controls="name" aria-selected="true">Search by name</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="zip-tab" data-toggle="tab" href="#zip" role="tab" aria-controls="zip" aria-selected="false">Search by ZIP code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="coord-tab" data-toggle="tab" href="#coord" role="tab" aria-controls="coord" aria-selected="false">Search by coordinates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ip-tab" data-toggle="tab" href="#ip" role="tab" aria-controls="ip" aria-selected="false">Search by IP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="false">Check your location</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <br>
      <div class="tab-pane fade show active" id="name" role="tabpanel" aria-labelledby="name-tab">
        <!-- Input -->
		<div class="row">
			<div class="col-md-12-sm-12">
				 <div class="input-group mb-3">
				  <input type="text" class="form-control" id="input_name" placeholder="Local name" aria-label="Local name" aria-describedby="button_name">
				  
				  <div class="input-group-append">
					<button class="btn btn-secondary" type="button" id="button_name">Send</button>
				  </div>
				</div>
				<div id="input_name_valid" class="invalid-feedback">
				  
				</div>
			</div>
		</div>
		
       



      </div>
      <div class="tab-pane fade" id="zip" role="tabpanel" aria-labelledby="zip-tab">
		<!-- Input -->
		<div class="row">
			<div class="col-md-12-sm-12">
				 <div class="input-group mb-3">
				  <input type="text" class="form-control" id="input_zip" placeholder="ZIP code" aria-label="ZIP code" aria-describedby="button_zip">
				  
				  <div class="input-group-append">
					<button class="btn btn-secondary" type="button" id="button_zip">Send</button>
				  </div>
				</div>
				<div id="input_zip_valid" class="invalid-feedback">
				  
				</div>
			</div>
		</div>
	  
	  
	  </div>
      <div class="tab-pane fade" id="coord" role="tabpanel" aria-labelledby="coord-tab">
	  <!-- Input -->
		<div class="row">
			<div class="col-md-12-sm-12">
				 <div class="input-group">
				  <div class="input-group-prepend">
					<span class="input-group-text" id="">Coordinates</span>
				  </div>
				  <input type="text" id="coord_lat" placeholder="Latitude" class="form-control">
				  <input type="text" id="coord_lon" placeholder="Longitude" class="form-control">
				  
				  <div class="input-group-append">
					<button class="btn btn-secondary" type="button" id="button_coords">Send</button>
				  </div>
				</div>
				<div id="input_coords_valid" class="invalid-feedback">
				  <span class="tab">Invalid latitude coordinates.</span><br>
				  <span class="tab">Invalid longitude coordinates.</span>
				</div>
			</div>
		</div>
	  
	  
	  </div>
      <div class="tab-pane fade" id="ip" role="tabpanel" aria-labelledby="ip-tab">
		 <!-- Input -->
			<div class="row">
				<div class="col-md-12-sm-12">
					 <div class="input-group mb-3">
					  <input type="text" class="form-control" id="input_ip" placeholder="xxx.xxx.xxx.xxx" aria-label="xxx.xxx.xxx.xxx" aria-describedby="button_ip">
					  
					  <div class="input-group-append">
						<button class="btn btn-secondary" type="button" id="button_ip">Send</button>
					  </div>
					</div>
					<div id="input_ip_valid" class="invalid-feedback">
					  
					</div>
				</div>
			</div>
		</div>
      <div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local-tab">
	  <!-- Input -->
		<div class="row">
			<div class="col-md-12-sm-12">
				 
				 <div class="row">
					<div class=" col-md-12-sm-12">
						<h5 class="text-secondary">Your ip is: </h5>
						<h3 class="font-weight-bold text-primary" id="client_ip"></h3>	
					</div>
				 </div>
				 <div class="row">
					<div class="col-md-12-sm-12">
						<button class="btn btn-secondary" type="button" id="button_local">Show me!</button>
					</div>
				 
				 </div>
				 
				  
				
				<div id="input_local_valid" class="invalid-feedback">
				  
				</div>
			</div>
		</div>
	  
	  
	  </div>
    </div>
	
	<%
	let view_data = null;
	if(typeof(recent) != "undefined"){
	
		view_data = JSON.parse(recent);
		var lst = ["One", "Two", "Three", "Four", "Five"];
	}
	
	if(view_data){
		if(view_data.searchs){
			if(view_data.searchs.length>0){
	
	%>
	
	
	
	<h5>Previous searchs <button id="clear_history" class="btn btn-secondary"><i class="fas fa-trash-alt x1"></i></button></h5>
	
	<div id="previous_searchs" >
		<%
				for(let i=0; i<view_data.searchs.length;i++){
				
				}
			
			
			%>
				<div class="table-responsive">
				  <table class="table">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">Location</th>
						<th scope="col">Region</th>
						<th scope="col">Temperature</th>
					  </tr>
					</thead>
					<tbody>
					
					<%
					for(let i=0; i<view_data.searchs.length;i++){
						var id_collapse = "#collapse"+lst[i];
						var id_collapse2 = "collapse"+lst[i];
						%>
						<tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href=<%=id_collapse%>>
						<td class="expand-button"></td>
						<td><%=view_data.searchs[i][1].location.name%></td>
						<td><%=view_data.searchs[i][1].location.region%></td>
						<td><%=view_data.searchs[i][1].current.temperature%>ºC</td>

						</tr>
						<tr class="hide-table-padding">
						<td></td>
						<td colspan="3">
						
							<div id="<%=id_collapse2%>" class="collapse in p-3">
							<div class="row">
								<img src="">
							  </div>
							  <div class="row">
								<div class="col-6">Wind Speed</div>
								<div class="col-6"><%=view_data.searchs[i][1].current.wind_speed%> km/h</div>
							  </div>
							  <div class="row">
								<div class="col-6">Wind Direction</div>
								<div class="col-6"><%=view_data.searchs[i][1].current.wind_dir%></div>
							  </div>
							  <div class="row">
								<div class="col-6">Description</div>
								<%
								let desc = "";
								
								for(j=0; j<view_data.searchs[i][1].current.weather_descriptions.length; j++){
									desc += view_data.searchs[i][1].current.weather_descriptions[j];
									
									if(j!=view_data.searchs[i][1].current.weather_descriptions.length-1){
										desc+= ", ";
									
									}
								}
								
								
								%>
								
								
								<div class="col-6"><%=desc%></div>
							  </div>
							   <div class="row">
								<div class="col-6">Data time</div>
								<div class="col-6"><%=view_data.searchs[i][1].current.observation_time%></div>
							  </div>
							  
							  
							</div>
							</td>
						</tr>
					
					
					
					
					<%}%>
					  
							  
					</tbody>
				  </table>
				</div>
					
		
			<%}
		
			}
		}
	
	
	%>
	</div>
	
	
	
</div>





<div class="content" role="main">
	
	<div id="result_placeholder" >
		
	</div>
</div>





  <%- include("../partials/scripts") %>
  <script src="/public/js/home_actions.js"></script>
</body>
</html>
